*{

}
@media screen and (min-width: 800px){
	p.work{
		width: 100%;
		color: #000000;
		padding-top: 100px;
	}
	#all{
		font-family: "Quicksand", cursive;
	}
}
#all{
	border-width: 50px;
	border-style: hidden;
	border-color: #ed4264;
	background: linear-gradient(to right , white , #4b79a1 , #283e51);
}
p.work{
	font-family: "Quicksand", cursive;
	float: right;
	overflow: auto; 
	font-style: inherit;
	font-size: 20px;
	border-width: thick;
	border-radius: 2px;
	color: blue;
	border-collapse: collapse;	
	font: "fonts/impact.ttf";
	padding: 50px;
	width: 30%;
	text-align: center;
	background-color: #f9cbf5;
	margin-top: 100px;
}
.topnav{
	background-color: #333;
	overflow: hidden;
	width: 100%;
	margin-right: 0;
}

.navbar a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 0px;
	text-decoration: none;
	font-size: 15px;
	width: 25%;
}
.navbar a:hover{
	background-color: #ddd;
	color: black;
}
.active{
	background-color: #4caf50;
	color: white;
}
/*Full Screen Menu bar*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#333;
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
.overlay a{
	padding: 8px;
	text-decoration: none;
	text-align: center;
	font-size: 50px;
	color: #f2f2f2;
	display: block;
	transition: .3s;
}
.overlay a:hover {
    color: #818181;
}
.fullScreen{
height: 100%;
top: 85px;
}
/*Full screen Menu-bar ends here*/

/*Menu icon*/
#container {
    display: inline-block;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #f2f2f2;
    margin: 4px 0;
    transition: 0.4s;
    text-align: center;
}

.change .bar1 {
       transform: rotate(-45deg) translate(-5px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
       transform: rotate(45deg) translate(-5px, -8px);
}


/*menu icon ends here*/


@media screen and (max-width: 600px) {
	.navbar a:not(:first-child) {display: none;}
	.navbar a.icon {
		float: right;
		display: block;
	}

.topnav.responsive{position:relative;}
.topnav.responsive a.icon {

	position: absolute;
	right: 0;
	top: 0;
	}
	.overlay a{
		font-size: 25px; 
	 }
.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
	}
}
.name{
	float: left;
	font-family: "fonts/impact.ttf",normal;
}