*{

}
@media screen and (min-width: 800px){
	p.work{
		width: 100%;
		color: #000000;
		padding-top: 100px;
	}
	#all{
		font-family: "Quicksand", cursive;
	}
}
#all{
	border-width: 50px;
	border-style: hidden;
	border-color: #ed4264;
	background: linear-gradient(to right , #4b79a1 , #283e51);
}
p.work{
	float: right;
	overflow: auto; 
	font-style: inherit;
	font-size: 20px;
	border-width: thick;
	border-radius: 2px;
	color: blue;
	border-collapse: collapse;	
	font: "fonts/impact.ttf";
	padding: 50px;
	width: 30%;
	text-align: center;
	background-color: #f9cbf5;
}
a{
	padding: 10px;
	background-color: transparent;
	color: #ffffff;
	width: 30%;
}
div.navbar{
	float: right;
	}
div.menu-cover{
	float: right;
}	
