
/*TOP navigation bar starts here*/

header{
	width: 100%;
	height: 130px;
	overflow: hidden;
	box-shadow: rgb(128, 128, 128) 0px 0px 8px 0px;
}
#header_inner{
	height: 100%;
	background: linear-gradient(to right, #0d0d0d , #00334d ,#00aaff);
}
#logo img
{
	transition-duration: 1.5s;
	width: 125px;
	height: 125px;
	margin-left: 20px;
	border-radius: 50%;
}
#logo:hover img{
	transition-duration: .4s;
	transform: scale(1.07);
	filter:blur(1px);
}
/* start navigation */
nav{
	float: right;
	margin-top: 10px;
	padding: 25px 20px 0 0;
}
#menu_icon{
	display: none;
	width: 40px;
	height: 40px;
	background: url(img/nav.png) center;
}
a: hover#menu_icon{
	border-radius: 4px 4px 0 0;
}
ul{
	list-style-type: none;
}
nav ul li{
	font-size: 30px;
	display: inline-block;
	float: left;
	padding: 10px;
}
nav ul li a{
	color: #cccccc;
	text-decoration: none;
}
nav ul li a:hover{
	color: black;
	text-shadow: 0px 0px rgb(128, 128, 128);
}
/*-- End of navigation--*/
#list_of_sellers {
		writing-mode: vertical-rl; 
		position: relative;
		font-family: 'Pacifico', cursive;
		border :;
		margin-top: 18%;
		left: 0;
		background-color: #1c262f;
		font-size: 30px;
		color: #cccccc;
		box-shadow: rgb(128, 128, 128) 0px 0px 8px 0px;
		padding: 20px 8px 20px 3px;
		margin-left: 0;
}
#list {
	border: 4px groove #001a33;
	font-size: 10px;
	height: 600px;
	float: left;
	width: 30%;
	overflow: hidden;
	transition-duration: 1s;
	overflow-y: scroll;
}
 #list ul{
 	list-style-type: none;
 	height: 600px;
 	width: 100%;
 	float: left;
 	margin: 0;
 }
 #list ul li{
 	position: relative;
 	left: -40px;
 	font-size: 27px;
 	width: 100%;
 	height: 40px;
 }
 #list ul .eve{
 	background-color: #e6e6e6;
 }
 .odd{
 	background-color:  #b3b3b3;
 }
